@import 'https://fonts.googleapis.com/css?family=Roboto:300,700';

body {
  min-width: 680px;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  background: #f0f0f0;
  line-height: 1.6;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

.main {
  padding: 20px 0;
}

.header {
  background: #000;
  position: relative;
  padding: 30px 0;
}

.header a {
  color: #fff;
}

.brand {
  text-align: center;
  color: #fff;
}

.brand small {
  display: block;
  margin-top: 10px;
}

.menu {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.menu a {
  text-decoration: none;
}

.footer {
  margin-top: 80px;
  text-align: center;
  padding-bottom: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.container-wide {
  max-width: 960px;
}

.container-narrow {
  max-width: 640px;
}

.copyright {
  font-size: small;
}

.interview-panel {
  margin-top: 20px;
}

.interview-panel > a {
  position: relative;
  display: block;
}

.panel-image {
}

.panel-body {
  position: absolute;
  width: 100%;
  background: #222;
  bottom: 0;
  color: #fff;
}

.panel-body > * {
  margin-left: 20px;
  margin-right: 20px;
}

.panel-body h3 small {
  margin-right: 1em;
}

.interview-content {
  overflow: hidden;
  margin-left: -10px;
  margin-right: -10px;
}

.interview-item {
  float: left;
  width: 33.3%;
}

.interview-item > a {
  display: block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.item-body {
  position: absolute;
  background: rgba(0,0,0,.5);
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 125px;
  overflow: hidden;
}

.item-body h3 {
  font-size: 100%;
}

.item-body h3 small {
  display: block;
}

.item-body > * {
  margin-left: 20px;
  margin-right: 20px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.lead {
  font-weight: bold;
}

.hero {
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  height: 400px;
}

.hero > .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #222;
  padding: 20px 0;
}

h1 small {
  display: block;
}

.hero h1 {
  color: #fff;
  margin: 0;
}

.interviewer, .others {
  margin-top: 80px;
}

.box {
  background: #eee;
  overflow: hidden;
  padding: 20px;
}

.box-body h4 {
  margin: 0 0 .5em;
}

.box-body p {
  font-size: 12px;
}

.box-body p:last-child {
  margin: 0;
}

.well {
  margin: 2em 0;
  padding: 0 1em;
  border: 1px solid #ddd;
}
